.slot {    
    position: absolute;
    top: 300px;

    height: 128px;
    width: 128px;

    z-index: 30;
}

.slotBack {
    background-color: azure;
    position: absolute;
    top: 300px;

    height: 128px;
    width: 128px;

    z-index: 20;
}

.fieldTile {
    position: absolute;
    background-position: 24px -24px;

    width: 384px;
    height: 240px;

    z-index: 20;
}

#one {    
    left: 50%;
    transform: translateX(-160%);
}

#two {
    left: 50%;
    transform: translateX(-50%);
}

#three {
    left: 50%;
    transform: translateX(+60%);
}

#left {
    left: 50%;
    transform: translateX(-160%);
}

#center {
    left: 50%;
    transform: translateX(-50%);
}

#right {
    left: 50%;
    transform: translateX(+60%);
}

.slotButton {
    position: absolute;
    padding:1em 1em;
    left: 50%;
    transform: translateX(-50%);
    top: 450px;
}

/* character */
.character {
    position: absolute;

    z-index: 30;
}

#hero {
    top: 0px;
    left: 50%;
    transform: translateX(-100%);

    height: 192px;
    width: 192px;
    background-size: 600%;
}

#enemy {
    top: 96px;
    left: 50%;
    transform: translateX(+48px);

    height: 96px;
    width: 96px;
}

.coin {
    position: absolute;
    top: 144px;
    left: 50%;
    transform: translateX(+96px);

    z-index: 40;
}

.battleResult {
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 50;
}

.prize {
    position: absolute;
    top: 96px;
    left: 50%;
    transform: translateX(-128px);

    font-size: 24px;
    font-weight: bold;
    font-family: fantasy;
	color: rgb(255, 230, 0);
	-webkit-text-stroke: 4px #FFF;

    animation-name: prizeSlideIn;
    animation-duration: 2s;

    z-index: 48;
}

.prize::before {
    position: absolute;

	content: attr(data-text);

    font-size: 24px;
    font-weight: bold;
    font-family: fantasy;
	color: rgb(255, 230, 0);
	-webkit-text-stroke: 1px rgb(30, 30, 30);

    z-index: 49;
}

#win {
    width: 192px;
    height: 96px;

    animation-name: winSlideIn;
    animation-duration: 2s;
}

#lose {
    width: 192px;
    height: 96px;
    
    animation-name: loseSlideIn;
    animation-duration: 2s;
}

@keyframes winSlideIn{
    0%{
        top: 24px;
        opacity: 0.3;
    }

    50%{
        top: 48px;
        opacity: 1.0;
    }
}

@keyframes loseSlideIn{
    0%{
        top: 24px;
        opacity: 0.3;
    }

    50%{
        top: 48px;
        opacity: 1.0;
    } 
}

@keyframes prizeSlideIn{
    0%{
        top: 96px;
        opacity: 0.3;
    }

    100%{
        top: 48px;
        opacity: 1.0;
    } 
}

/* General Styling */
body {
    background-color: darkgray;
}